[general]
#Use date_time, satellite, orbit, ?, *, and instrument in file name and paths if needed:
cloudtype_dir = /local_disk/nina_pps/data_validation_ctth_patch_nov2012/SAFNWC_PPS/export
cloudtype_file = {satellite}_%Y%m%d_%H%M_{orbit}_satproj_*_cloudtype.h5
ctth_dir = /local_disk/nina_pps/data_validation_ctth_patch_nov2012/SAFNWC_PPS/export
ctth_file = {satellite}_%Y%m%d_%H%M_{orbit}_satproj_*_ctth_opaque.h5
cpp_dir = /local_disk/nina_pps/data_validation_ctth_patch_nov2012/SAFNWC_PPS/export
cpp_file = {satellite}_%Y%m%d_%H%M_{orbit}_satproj_*_cpp.h5
sunsatangles_dir = /local_disk/nina_pps/data_validation_ctth_patch_nov2012/SAFNWC_PPS/import/ANC_data/remapped
sunsatangles_file = {satellite}_%Y%m%d_%H%M_{orbit}_satproj_*_sunsatangles.h5
nwp_tsur_dir = /local_disk/nina_pps/data_validation_ctth_patch_nov2012/SAFNWC_PPS/import/NWP_data/remapped
nwp_tsur_file = {satellite}_%Y%m%d_%H%M_{orbit}_satproj_*_nwp_tsur.h5
#Use date_time, satellite ,instrument, ? and * in file name and paths if needed:
radiance_dir = /local_disk/nina_pps/data_validation_ctth_patch_nov2012/SAFNWC_PPS/import/PPS_data/remapped
radiance_file = {satellite}_%Y%m%d_%H%M_*_satproj_*_{instrument}.h5
#Use date_time and ? and * in file name and paths if needed:
calipso_dir = /local_disk/nina_pps/data_validation_ctth_patch_nov2012/calipso_data/calipso/{resolution}km/%Y/%m
calipso_file = CAL_LID_L2_0{resolution}kmCLay-*-V3-??.%Y-%m-%dT%H-??-??Z?.*

trajectory_plot_area = arctic_europe_9km


#The intermediate files structure
#: Base directory where matchup files are stored. (TODO: Are these still used?}
#coverage_avhrr_caliop_matchup_npp_20120606_0113_00000_06000_tmparea_0.h5
coverage_dir = {val_dir}/Matchups/{resolution}km/{area}
#allowed wildcards: atrain_sat, satellite,date,time,startline,endline
coverage_filename = coverage_avhrr_{atrain_sat}_matchup_{satellite}_{date}_{time}_{startline}_{endline}_{tmpaid}.h5
#: Base directory for files containing matched data from PPS and Calipso/Cloudsat
reshape_dir = {val_dir}/Reshaped_Files/{satellite}/{resolution}km/%Y/%m/{area}/
#1km_npp_20120708_0113_03599_caliop_avhrr_match.h5
reshape_file = {resolution}km_{satellite}_%Y%m%d_%H%M_{orbit}_{atrain_datatype}_{instrument}_match.h5
#: TODO: How is this directory used?
#1km_npp_20120606_0113_03145_cloudtype_calipso_track2.txt
#1km_npp_20120606_0113_03145_cloudtype_calipso_track_excl.txt
data_dir = {val_dir}/Data/{satellite}/{resolution}km/{year}/{month}/{area}/
data_file = /{resolution}_{basename}_cloudtype_{atrain_sat}_{track}.txt
#: Base directory for plots
plot_dir = {val_dir}/Plot/{satellite}/{resolution}km/%Y/%m/{area}/
#: Base directory for statistics results
result_dir = {val_dir}/Results/{satellite}/{resolution}km/%Y/%m/{area}/




